:root {
  --background: #000;
  --primary: #fff;
  --secondary: #888;

  --tint-1: #111;
  --tint-2: #222;
  --tint-3: #333;
  --tint-4: #444;
  --tint-5: #555;
  --tint-6: #666;

  --cyan: #79FFE1;
  --error: #FF0000;
  --error-dark: #E60000;
  --success: #0070F3;
  --violet: #7928CA;
  --warning: #F5A623;

  --font-sans: 'Inter';
}

@tailwind base;
@tailwind components;

body {
  @apply bg-background text-secondary;
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

a {
  @apply text-primary;
}

p {
  @apply mb-4;
}

.btn {
  @apply
    border
    border-secondary
    rounded
    inline-flex
    px-4
    py-2
    transition-colors
    duration-200
  ;
}

  .btn.primary {
    @apply
      bg-primary
      border-primary
      text-background
    ;
  }

    .btn.primary:hover {
      @apply
        bg-transparent
        border-primary
        text-primary
      ;
    }

  .btn.secondary {
    @apply
      bg-transparent
      border-secondary
      text-secondary
    ;
  }

    .btn.secondary:hover {
      @apply
        bg-primary
        border-primary
        text-background
      ;
    }

    .btn.error {
      @apply
        bg-error
        border-error
        text-primary
      ;
    }
  
      .btn.error:hover {
        @apply
          bg-error-dark
          border-error-dark
        ;
      }

  .btn.bare {
    @apply
      border-none
      p-0
      text-primary
    ;
  }

  a.success,
  .btn.success {
    @apply font-bold  text-success;
  }

  .btn:disabled {
    @apply
      bg-tint-6
      border-secondary
      cursor-not-allowed
      text-secondary
    ;
  }

    .btn:disabled:hover {
      @apply
        bg-tint-6
        border-secondary
        text-secondary
      ;
    }

code {
  @apply 
    inline-block
    bg-tint-1
    border
    border-tint-3
    rounded
    text-warning
    p-0
  ;
  font-family: Menlo;
}

pre code {
  @apply 
    block
    mb-4
    p-2
    overflow-scroll
    text-secondary
  ;
}

@tailwind utilities;
